/target
**/results
/flamegraph.svg
perf.data
perf.data.old
aggregation.txt
aggregation.json
/output
.venv
bench/docs/assets/plots
bench/docs/assets/**/*.svg
bench/docs/**/*.hexpat
bench/docs/**/*.hexproj
bench/docs/**/*.mlx
*.lprof